<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.ecopompe.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Header</servlet-name>
    <servlet-class>com.ecopompe.servlets.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sideform</servlet-name>
    <servlet-class>com.ecopompe.servlets.Sideform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sideform</servlet-name>
    <url-pattern>/sideform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>com.ecopompe.servlets.Map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Infos</servlet-name>
    <servlet-class>com.ecopompe.servlets.Infos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Infos</servlet-name>
    <url-pattern>/infos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListePompes</servlet-name>
    <servlet-class>com.ecopompe.servlets.ListePompes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListePompes</servlet-name>
    <url-pattern>/listepompes</url-pattern>
  </servlet-mapping>
 
  <filter>
      <filter-name>urlRewriteFilter</filter-name>
      <filter-class>com.ecopompe.filters.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>urlRewriteFilter</filter-name>
      <url-pattern>/listepompes</url-pattern>
      <url-pattern>/infos</url-pattern>
  </filter-mapping>
  
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>